@model List<Concert>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary py-2"> Concert List </h2>
        </div>
        <div class="col-6 text-solid">
            <a asp-controller="Concert" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Concert
            </a>
        </div>
    </div>

<table class="table table-bordered table-stried">
    <thread>
        <tr>
            <th>
                Concert Name
            </th>
            <th>
                Actor Name
            </th>
            <th>
                Concert Category
            </th>
            <th>
                Concert Location
            </th>
            <th>
                Display Date
            </th>
            <th>
                Display Time
            </th>
        </tr>
    </thread>
    <tbody>
            @foreach (var obj in Model.OrderBy(u => u.DisplayDate))
        {
            <tr>
                <td>@obj.ConcertName</td>
                <td>@obj.ActorName</td>
                <td>@obj.ConcertCategory</td>
                <td>@obj.ConcertLocation</td>
                <td>@obj.DisplayDate</td>
                <td>@obj.DisplayTime</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Concert" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <a asp-controller="Concert" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>
         }
    </tbody>
</table>
</div>